body {
    margin: 0;
}

.cor1 {
    background-color: aqua;
    display: block;
    height: 100px;
    align-content: center;
    text-align: center;
}

.cor2 {
    background-color: rgb(41, 172, 172);
    display: block;
    height: 50px;
    align-content: center;
}

button {
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    background-color: rgb(122, 255, 255);
    height: 30px;
    border-radius: 50px;
}

button:hover {
    background-color: rgb(78, 221, 221);
}

#imagem1 {
    margin-left: 40px;
}

#imagem2 {
    margin-left: 60px;
}