body {
    margin: 0;
}

.cor1 {
    background-color: rgb(255, 78, 93);
    display: block;
    height: 100px;
    align-content: center;
    text-align: center;
}

.cor2 {
    background-color: rgb(211, 51, 65);
    display: block;
    height: 50px;
    align-content: center;
}

button {
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    background-color: rgb(218, 218, 218);
    height: 30px;
    border-radius: 50px;
    transition: background-color ease 0.3s;
}

button:hover {
    background-color: rgb(160, 160, 160);
}

#imagem1 {
    margin-left: 40px;
}

#imagem2 {
    margin-left: 60px;
}

img {
    transition: 0.3s;
}

img:hover {
    scale: 1.1;
}